/* Common */
h1, h3, h5, p {
    line-height: 1.4;
}

.subtitle {
    font-size: 20px;
    line-height: 1.6;
    padding-top: 8px;
    padding-bottom: 12px;
}

.centered-text {
    text-align: center;
}

.mini-subtitle {
    letter-spacing: 1.5px;
    font-weight: 400;
}

.btn-orange {
    border: none;
    background-color: #fe6f29;
    color: white;
    padding: 14px 40px;
    font-weight: 700;
    font-size: 16px;
    cursor: pointer;
}

.btn-orange:hover {
    /* change to animation */
    background-color: white;
    color: #fe6f29;
}

.btn-white {
    border: 1px #fe6f29 solid;
    background-color: white;
    color: #fe6f29;
    padding: 14px 32px;
    font-weight: 600;
    font-size: 16px;
    cursor: pointer;
}

.btn-white:hover {
    background-color: #fe6f29;
    color: white;
}

.lineup-img{
    width: 20vw;
}

/* Introduction */
#intro {
    display: flex;
    justify-content: space-between;
    height: 69.5vh;
}

#intro-img {
    display: block;
    flex-grow: 1;
    object-fit: cover;
}

#intro-card {
    max-width: 39.2%;
    margin-left: 25px;
    padding: 40px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: #1b1b1b;
    color: rgba(255, 255, 255, 0.747);
}

#card-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 55%;
}

#card-container > h1 {
    font-size: 45px;
}

/* Line up */
#lineup {
    width: 66vw;
    margin: 100px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#lineup > p {
    width: 60%;
    margin: 10px auto 50px auto;
}

.lineup-list {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.lineup-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.lineup-item > h3 {
    margin: 5px auto 10px auto;
    color: black;
}

/* Qualities */
#qualities-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 66vw;
    margin: auto;
}

#qualities {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 50px auto;
}

.quality {
    width: 32%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.quality > img {
    max-height: 25vh;
    margin-bottom: 25px;
}

.quality > p {
    line-height: 1.6;
    font-weight: 400;
    letter-spacing: 0.025em;
    font-size: 16px;
}

/* Comparison */
#comparison-container {
    display: flex;
    flex-direction: row;
    width: 66vw;
    margin: auto;
    height: 45vh;
    justify-content: space-between;
    padding-bottom: 50px;
    margin-bottom: 50px;
    border-bottom: #fe6f29 1px solid;
}

#comparsion-card {
    background-color: #1b1b1b;
    color: rgba(255, 255, 255, 0.747);
    height: 100%;
    max-width: 49%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    padding: 40px;
}

#comparsion-card > h3 {
    margin: 7.5px 0 15px 0;
}

#comparsion-card > p {
    margin-bottom: 20px;
    max-width: 90%;
}

#comparison-img {
    display: block;
    height: 100%;
    max-width: 49%;
}

#comparison-img > img {
    object-fit: cover;
    max-width: 100%;
    height: 100%;
}