/* .user-link & nav-link will be different from each other */

#navbar {
    padding: 17.5px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

#page-logo {
    width: 10vw;
}

.nav-list, .user-options {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.nav-link, .user-link {
    font-weight: bold;
    font-size: 16px;
    text-decoration: none;
    padding: 15px;
    color: black;
}

.nav-link:hover, .user-link:hover {
    color: #fe6f29;
}